<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.nickcruz.notes">

<application android:theme="@style/AppTheme.NoActionBar" android:name=".App">

    <uses-permission android:name="CAMERA" android:maxSdkVersion="25" />

    <activity
        android:name=".view.notes.NotesActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".view.note.NoteActivity"
        android:label="@string/title_activity_note" />
    <activity
        android:name=".view.camera.CameraActivity"
        android:label="@string/title_activity_camera"/>
</application>
</manifest>
